<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <thead><tr><th>#</th><th>Title</th></tr></thead>
        <tbody>
          <tr ng-repeat="item in todo.todos">
            <td>
              <input type="text" ng-model="item.title" ng-change="todo.todoChange(item)">
            </td>
            <td>
              <a ng-click="todo.delete(item)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
            </td>
          </tr>
        </tbody>
      </table>
      <a id="add_todo" class="btn btn-default pull-left" ng-click="todo.newTodo()">Add Row</a>
    </div>
    <div class="col-md-6">
      <table class="table table-striped">
        <thead><tr><th>#</th><th>Subject</th><th>State</th></tr></thead>
        <tbody>
        <tr ng-repeat="task in todo.current_todo.tasks">
          <td>
            0
          </td>
          <td>
            <input type="text" ng-model="task.name" ng-change="todo.taskChange(task)">
          </td>
          <td>
            <input type="text" ng-model="task.active" ng-change="todo.taskChange(task)">
          </td>
          <td>
            <a ng-click="todo.delete(task)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
          </td>
        </tr>
        </tbody>
      </table>
      <a id="add_task" class="btn btn-default pull-left" ng-click="todo.newTask()">Add Row</a>
    </div>

    <ul class="list-group user-list">
      <li class="list-group-item" ng-repeat="task in todo.tasks">
        <div class="user-info">
          <strong>{{task.name}}</strong><br>
          <span class="text-muted">{{task.active}}</span>
        </div>
        <a ng-click="todo.delete(task)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
      </li>
    </ul>
  </div>
</div>
